{% extends 'base.html' %} {%load static%}
<!-- document title-->
{% block title %} Login {% endblock title %}
{% include 'pre_loader.html' %}
<!-- document body -->
{% block body %}

<body id="hero" class="d-flex flex-column justify-content-center">
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <section>
    <div class="container" data-aos="zoom-in" data-aos-delay="5">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h1>Nisevie</h1>
          <p>
            <span class="typed" data-typed-items="Overspending often disrupts savings trajectory, We help you avoid that,
         Let Your money grow, You're welcome"></span>
          </p>
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="container">
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
              <div class="form-outline mb-4">
                <span class="section-title h1">Login</span>
              </div>
              <div class="form-outline m-2" id="mobile_input">
                <label class="form-label">Username</label>
                <input type='text' class="form-control" name="username" required/>
                <br>
                <label class="form-label">Password</label>
                <input type='password' class="form-control" name="password" required/>
                <div class="row">
                  <div class="col-sm-3">
                    <input type='submit' class="btn btn-sm btn-success float-right mt-2" value="Login"/>
                </div>
                  <div class="col-sm-9 text-danger text-center">{{ error }}</div>
                </div>
                <p class="text-center"><a href="{% url 'registration' %}">Register</a></p>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock body %}
  <!-- page preloader -->
</body>
